{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Chess{% else %}Chess App{% endif %}
{% endblock %}

{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Test</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Главная</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Начать обучение<span class="sr-only">(Текущая)</span></a></li>
                    <li><a href="#">Начать турнир</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Результаты<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Турнир 1</a></li>
                            <li><a href="#">Турнир 2</a></li>
                            <li><a href="#">Турнир 3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.creator') }}">Добавить задание</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block app_content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    {% block app_scripts %}
    {% endblock %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% block app_styles %}
    {% endblock %}
{% endblock %}